<header>
  <nav class="navbar has-background-grey-lighter" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        <img src="/images/logo.png">
        <span style="font-size: 1.2em; line-height: 1.2em; color: #488588;">
          <b>{{ .Site.Title }}</b>
        </span>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          {{ if eq .Name "Activities" }}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.Section "workshops") }} is-active{{ end }}">
                {{ .Name }}
              </a>
              <div class="navbar-dropdown">
                {{ range where $.Site.RegularPages "Section" "workshops" }}
                  <a class="navbar-item{{ if eq $currentPage.RelPermalink .RelPermalink }} is-active{{ end }}" href="{{ .RelPermalink }}">
                    {{ .Title }}
                  </a>
                {{ end }}
              </div>
            </div>
          {{ else }}
            <a class="navbar-item{{ if or ($currentPage.IsMenuCurrent "main" .) (and (eq $currentPage.RelPermalink .URL) (ne .URL "/")) }} is-active{{ end }}" href="{{ .URL }}">
              {{ .Name }}
            </a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </nav>
</header>